/* You can add global styles to this file, and also import other style files */

@use 'theme/custom-theme.scss';

@import 'https://fonts.googleapis.com/icon?family=Material+Icons';

html, body, app-root {
  font-family: 'Verdana, Geneva, sans-serif', sans-serif;
}

/* Optional: to cover all elements just in case */
*, *::before, *::after {
  font-family: inherit;
}

body {
  background: var(--mat-sys-surface-container-highest);
}
